
  @import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Londrina+Solid:wght@300;400&family=Righteous&family=Roboto+Serif:ital,opsz,wght@0,8..144,100;1,8..144,500&family=Work+Sans:ital,wght@0,300;0,400;0,600;0,800;1,100&display=swap');


*{
    font-family: 'Inconsolata';
}

body{
    background-color: black;
    text-align: center;
    color: #fff;
}

.contenedor{
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.img1{
    background-image: url(pexels-djordje-petrovic-2102413.jpeg);
}
.img2{
    background-image: url(pexels-luna-lovegood-2039979.jpeg);
}
.img3{
    background-image: url(pexels-ivan-samkov-7676435.jpeg);
}

.item{
    width: 30%;
    height: 400px;
    background-size: cover;
    background-position: center center;
    margin: 0 10px;
    transition: .3s;
    position: relative;
    border-radius: 20px;

}

.item:hover{
    width: 70%;
}

.overlay{
    position: absolute;
    background: linear-gradient(to bottom, transparent 80%, rgba(0,0,0,.7));
    top: 0;
    left: 0;
    height: 100%;
}

.item .titulo{
    transform: rotate(-90deg);
    position: absolute;
    bottom: 0;
    transform-origin: left top 0;
    text-shadow: 2px 2px 2px #000;
    letter-spacing: 2px;
    left: 20px;
}

.item .nombre{
    position: absolute;
    bottom: 0;
    right: 20px;
    transition: 1s;
    opacity: 0;
}

.item .titulo::after{
    position: absolute;
    content: "";
    width: 0;
    height: 120%;
    background-color: #371c4d;
    left: 0;
    z-index: -1;
    transition: .5s;
    line-height: 40px;


}

.item:hover .nombre{
    opacity: 1;
}

.item:hover .titulo::after{
    width: 100%;
}